*{
  box-sizing: border-box;
  /* transition: all 1s ease-in; */
}
.container{
  height: 100%;
  background-color: black;
}

.home-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #; */
}

.main-head{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 6vw;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  /* border: 1px solid red; */
}
.main-subhead{
  font-family: 'Gagalin', sans-serif;
  font-size: 4vw;
  /* font-style: italic; */
  color: #fff;
}


.page1{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap:20px;
  /* height: 100vh; */
  position: relative;
}


.page2{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap:20px;
  /* height: 100vh; */
}

.img{
  width: 100%;
  /* border: 1px solid red; */
  clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
  
}

.img1{
  clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
}

.img2{
  clip-path: polygon(6% 0, 100% 0, 95% 99%, 0 100%);
}

.buttons{
  position: absolute;
  bottom:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}


.button{
  /* border: 1px solid blue; */
  }

.back-button{
  padding: 24px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.next-button{
    /* padding: 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer; */
    font-family: 'Gagalin', sans-serif;  
    background: transparent;
    color: #fff;
    outline: none;
}




.frame1{
  grid-column: 1/ span 6;
  /* width: 70%; */
  
}
.frame2{
  grid-column: 7/ span 10;
  /* width: 70%; */
}
.frame3{
  grid-column: 1/ span 6;
}
.frame4{
  grid-column: 7/ span 10;
}
.frame5{
  grid-column: 1/ span 12;
}
